body { 
        background-color:hsl(217, 54%, 11%);
}
 @font-face {
         font-family:Outfit;
         src: url(font/Outfit-VariableFont_wght.ttf);
 }   
/* --------------------- start image and text --------------------- */
#card { width: 370px;
        height: 640px;
        background-color:hsl(216, 50%, 16%);
        border-radius: 15px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50% , -50%);
        font-family:outfit;
}
#card-pic { width: 325px;
            border-radius:15px;
            margin-left:22px;
            margin-top:22px;         
}
h1 {        color:hsl(0, 0%, 100%); 
            margin-left:28px;
            margin-top:18px;
            font-size:30px;
            
}
#small-text {   color:hsl(215, 51%, 70%);
                font-size:20px;
                margin-left:30px;
}
/* --------------------- end of text & image icons --------------------- */

#eth { margin-left:30px;
        margin-top:18px;
    }

#all-icon-prnt {color:hsl(178, 100%, 50%);
         display: flex;
         flex-direction:row;
         font-size:18px;
         font-family:outfit;
         
}
#ic-txt {
    margin-left:4px;
}

#clck { margin:19px 4px 0px 120px;
        
        
         
}
#icon2-txt { color:hsl(215, 51%, 70%);
}
/* --------------------- end of icons / footer of card --------------------- */
#avt-prnt {  display:flex;
        flex-direction: row;
        font-family:outfit;   

}
#avt-img {   width:35px;
             border:2px solid white; 
             border-radius:50%;   
             margin:10px 0px 0px 25px;   
}
.avt-txt {  display:inline-block;
            color:hsl(215, 51%, 70%); 
            margin:9px 0px 0px 7px;        
}
:any-link {
        color: aliceblue;
        text-decoration: none;
}
/*end of footer */